<nav module="Layout_MobileNavigation">
    <!--@css(/css/module/layout/mobileNavigation.css)-->
    <!--
        $eventmenu = yes
    -->
    <ul class="{$navigation_grid}" module="Layout_BoardInfo">
        <li module="Layout_statelogoff"><a href="/member/login.html">로그인</a></li>
        <li module="Layout_statelogon"><a href="{$action_logout}">로그아웃</a></li>
		<li><a href="{$link_board_list}">{$board_name}</a></li>
		<li><a href="{$link_board_list}">{$board_name}</a></li>
		<li><a href="{$link_board_list}">{$board_name}</a></li>
    </ul>
</nav>
