<header class="background-cover-center" style="background-image:url('/KUAS/bg/404.jpg');">
    <div style="background-color:rgba(0,0,0,0.3);display:flex;min-height:100vh;">
        <div class="intro-text wow text-center" style="padding:240px 15px 200px;margin:auto;color:#fff;">
            <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">404</div>
            <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s"><span class="rotate">The requested URL, isnt here im afraid.</span></div>
            <div><a href="/" class="btn btn-white">메인으로 이동</a></div>
        </div>
    </div>
</header>