<header id="headerwrap" class="backstretched no-overlay fullheight">
    <div class="container vertical-center">
        <div class="intro-text vertical-center text-left smoothie">
            <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">KUAS</div>
            <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">We are here to help you <span class="rotate">grow, profit, succeed</span></div>
        </div>
    </div>
</header>
<script>
    jQ(document).ready(function() {
        'use strict';
        jQ('#headerwrap').backstretch([
            "/KUAS/bg/bg1.jpg",
            "/KUAS/bg/bg2.jpg",
            "/KUAS/bg/bg3.jpg",
            "/KUAS/bg/bg4.jpg",
            "/KUAS/bg/bg5.jpg",
        ], {
            duration: 8000,
            fade: 500
        });
    });
</script>